.form-container{
    margin: auto;
    background-color: blanchedalmond;
    padding: 0 0 50px 0;
    max-width: 1600px;
    margin-top: 5%;
}

.form-container .form-section-container{
    transform: translateY(-55px);
    display: inline;
    height: 55px;
    width: 100%;
    display: flex;
    /* gap: 2px; */
}

.form-section{
    display: inline;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* border: 1px solid black;  */
    background-color: red;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 100%;
    aspect-ratio: 2.5;
}
.form-section:hover{
    background-color: blue;
    /* transition-delay: 400ms; */
    transition-duration: 400ms;
}

ul {
    list-style-type: none;
}

td, th{
    padding: 4px;
}