*{
    padding: 0;
    margin: 0;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:red;
    /* background-color: aqua; */
    border: 1px black solid;
    height: 2.2rem;
    margin: 0px;
    padding: 0.2rem 2rem;
}

.nav-button-container{
    display: flex;
    gap: 0.7rem;
    align-items: wrap;
}
/* 
.logo-img{
    height: 40px;
    width: 100px;
    padding-top: 5px;
    padding-left: 5px;
    border: 2px black solid;
} */

.nav-container .logo-container{
    background-color: red;
    height: 75%;
    color: black;

}

.nav-button-container button{
    border: red 1px solid;
    border-radius: 5px;
    height: 0.97rem;
    aspect-ratio: 3.4;
    /* width: 70px; */
    background: none;
    color: red;
    padding: 0.1rem 0.2rem;
    font-size: 0.5em;
}

/* .support-btn{
    
} */

/* .track-btn{
    width: 160px;
} */

.supportbtn-link{
    padding-top: 10p
}