textarea, input[type="text"], input[type="number"]{
    width: 80%;
}

input[type=radio]{
    margin: 0 4px;
}

th{
    width: 80%;
    height: 40px;
    vertical-align: middle;
    margin: auto;
    font-size: 18px;
}

td{
    text-align: center;
    height: 30px;
}

form{
    max-width: 1200px;
    background-color: rgba(233, 21, 169, 0.4);
    padding: 100px 40px;
    border-radius: 15px;
    justify-content: center;
    display: flex;
    margin: 30px auto;
}