
*{
    padding: 0;
    margin: 0;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px black solid;
    margin: 0px;
    padding: 0 100px;
}

.nav-button-container{
    display: flex;
    gap: 20px;
    align-items: wrap;
}

.track-status .sign-in .support{
    font-family: Helvetica;
}

.nav-button-container button{
    border: #0d1d45 1px solid;
    border-radius: 4px;
    background: none;
    color: #0d1d45;
    font-size: 0.9rem;
    padding: 0.5rem 0.7rem;
}